.containerA{
  
    width: 100vw;
    border: 0px solid red;
    margin: 0;
  
}

.headContent{
    border: 0px solid orange;
    padding-top: 10px;
    height: 100%;
}

.titleAvatar{
    width: 20vw;
    border: 0px solid red;
    font-size: 20px;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0;
    float: left;
}

.contentLeft{
    background-color: rgba(255, 255, 255, 0.5);
    height: 60vh;
    width: 40vw;
    margin-left: 10vw;
    border-radius: 10px;
    margin-top: 10px;
}

.titleName{
    font-size: 20px;
    margin-left: 20vw;
    margin-bottom: 5px;
    margin-top: 6vh;
}

.inputName{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    width: 20vw;
    height: 5vh;
    margin-left: 20vw;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 0;
}

.valkySet{
    border: 0px solid red;
    width: 8vw;
    margin-left: 16vw;
    margin-top: 5vh;
}

.createButton{
    width: 10vw;
    margin-top: 10px;
    margin-left: 25vw;
    cursor: pointer;
}


  #chooseleft{
  
    margin-top: 0%;
    height: 10%;
    border-radius: 10px;
   
    color: black;
    border:  0px solid black;
    margin: 0px;
    cursor: pointer;
    float: left;
    font-weight: 900;
    width: 6vw;
    border: 0px solid blue;
    margin-left: 4vw;
}

  #chooseright{
   
    margin-top: 0%;
    height: 10%;
    border-radius: 10px;
  
    color: black;
    border:  0px solid black;
    margin: 0px;
    cursor: pointer;
    float: left;
    font-weight: 900;
    width: 6vw;
    border: 0px solid blue;
}

.content{
    border: 0px solid red;
    width: 60vw;
    margin-left: 20vw;
}

.errorName{
    
     border: 0px solid red;
     text-align: center;
     color: red;
     margin-top: 0;
}

@media only screen  and (max-width : 600px) {
  
    

    .titleName{
        font-size: 20px;
        width: 100vw;
        text-align: center;
        margin-left: -10vw;
        margin-bottom: 5px;
        margin-top: 2vh;
        border: 0px solid red;
    }

    .inputName{
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid black;
        width: 60vw;
        height: 3vh;
        margin-left: 9vw;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        border-radius: 10px;
        margin-top: 0;
    }
   
    .contentLeft{
        background-color: rgba(255, 255, 255, 0.5);
        width: 80vw;
        height: 60vh;
        margin-left: 0;
        border-radius: 10px;
        margin-top: 10px;
    }
    .content{
        border: 0px solid red;
        width: 60vw;
        margin-left: 10vw;
    }

    #chooseleft{
        width: 15vw;
        margin-left: 10vw;
    }
    
      #chooseright{
        width: 15vw;
    }

    .titleAvatar{
        width: 30vw;
        margin: 5px;
        margin-top: 10px;
    }

    .valkySet{
        border: 0px solid red;
        width: 20vw;
        margin-left: 30vw;
        margin-top: 5vh;
    }
    

    .createButton{
        width: 20vw;
        margin-top: 10px;
        margin-left: 30vw;
    }

    .errorName{
        border: 0px solid red;
        text-align: center;
        color: red;
        margin-top: 0;
        width: 100vw;
        margin-left: -10vw;
   }
}