body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/vintageBack.jpg");
  font-family: londrina;
  background-size: cover;
}


@font-face {
  font-family: londrina;
  src: url("./fonts/LondrinaSolid-Light.ttf");
}